<h1>Drivers</h1>

<ul>
  <% @drivers.each do |driver| %>
    <li>
      <h2><%= driver.name %></h2>
      <p>Contact Number: <%= driver.contact_number_string %></p>
      <p>Bus: <%= driver.bus.plate_number %></p>
      <p><%= link_to 'Show', driver %></p>
      <p><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'New Driver', new_driver_path %>
